

*{
    margin: 0px;
    padding: 0px;
}
body{
   
    background: #b4b2b1;
    font-family: 'Roboto', sans-serif;
}
/***********************
        responsive
*************************
/*****************************
CORTES
*****************************/

@media screen and (max-with:672px) {
/***********************
        contenedor
************************
 definimos la grilla css
 por areas */
 .contenedor{
    width: 50%;
    margin: 0px auto;/*centrar el div*/
    display: grid;
    grid-template-columns: repeat(3,1fr);/*cant. de columnas*/
    grid-template-rows: repeat(4,auto);/*cantidad de filas)*/
   
    grid-template-areas: 
        "headerb headerb headerb"
        "slideshow-container slideshow-container slideshow-container"
        "main-somos main-somos main-somos"
        "footerb footerb footerb";
}
/**********************
        header
***********************
*/
.contenedor .headerb{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);/*1fr*/
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
        "logo menu menu "
    ;

}

.contenedor .headerb{
    display: inline;
    grid-area: headerb;
    background: #850c03;
    width: 100%;
    margin: 0px auto;
}
 .contenedor .logo{
    grid-area: logo;
}

.contenedor .menu{
    grid-area: menu;
}

  .headerb img{
    height: 40%; 
    float: left; 
    padding: 10px;
}
/***********************
        menu
************************
*/
 .contenedor .menu {
   background-color: #850c03;
   height: auto;
}
.contenedor .menu li{
  display: inline-block;
  font-size: 5px;
  font-weight: 150;
  letter-spacing: 1px;
  margin: 2%;
  padding: 20px;
  text-transform: uppercase;
    
}

.contenedor .menu a{
    color: white;
    text-decoration: none;
}
.contenedor .menu a:hover {
  color: black;
  background: #bd033b;
}
  
/*************************
     CARROUSEL   
**************************
    */

.slideshow-container{

 max-width: 1000px;
 margin: 0px auto; /*centrar bloque */   
   

 width: 100%;
 position:relative;
 margin:auto;
 height: auto;
 padding: 0px;    

   
}
.contenedor .slideshow-container
{
   grid-area:slideshow-container;
   
}
.mySlides {
 display:none;
}

.mySlides img{
    width: 100%;
    height: 500px;
   
}

/**********************
     quienes somos HOME
***********************/

.contenedor .main-somos{
   
    display: grid;
    grid-template-columns: 60% 40%;    
}

.contenedor .main-somos{
    grid-area: main-somos;
    background: #e6968c; 
    max-width: 1000px;
    margin: 2% auto 2% auto;
    height: auto; 
    padding: 2%;
}

/*para definir un area se hace por separado*/
.contenedor .texto-1{
    grid-area: texto-1; 
    padding: 2%;   
    font-size:x-small;
    text-align:justify;
    
}

.main-somos article{
    font-size: 1.05em; 
    color: #F8F8FF ;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 

.main-somos grid-item{
    width:"80%" ;
    height:"40%";
} 


.main-somos .texto-1 h2{
    color: #F8F8FF;
    text-align: right;
    font-size: bold;
}

/*****************************
SERVICIOS
*****************************/
.servicios-container{
    grid-area: main-somos;
    max-width: 1000px;
  /*  margin: 0px auto; centrar bloque */   
    background: #e6968c; 
    width: 100%;
    position:relative;
    margin:auto;
    height: auto;
 /*   padding: 0px;   */ 
    margin: 2% auto 2% auto;
    padding: 2%;
    align-items: center;
    justify-content: center;
      
   }
.servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    justify-items: center;
}

.servicio-item {
    text-align: center;
    width: 100%;
}

.servicio-item img {
    width: 100%;
    max-width: 100%; /* Establecer el ancho máximo al 100% */
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}


/************************
        footerb
*************************
abarca toda la pantalla
en forma horizontal*/
    
.contenedor .footerb{
       
    display: grid;
    grid-gap: 10px;/*20px;*/
    grid-template-columns: repeat(3,30%);/*cant. de columnas*/
    grid-template-rows: repeat(2,auto);/*cantidad de filas)*/
    grid-template-areas: 
        "logof centrof redesf"
        "autorf autorf autorf";
        
}

.contenedor .footerb{
    grid-area: footerb;  
    background:  #850c03;
    width:100%;
    /*max-width:1000px;*/
    margin: 0px auto;
    min-height: 100px;
}

/*definimos las areas de footerb
  por separado*/
.contenedor .logof{
    grid-area: logof;    
}
.contenedor .centrof{
    grid-area: centrof;
}
.contenedor .redesf{
    grid-area: redesf;
}
.contenedor .autorf{
    grid-area: autorf;
}

.contenedor .logof,
.contenedor .centrof,
.contenedor .redesf{
    background:  #850c03;
    color: white;
    height: auto;
 /*   display: flex;
    justify-content: center;/*centramos en el centro del box*/
 /*    grid-column-gap: 20%;*/
     padding: 10% ;
     display: grid;
     grid-template-columns: repeat(3, 15%);   
    
}

/*   imagen logof*/

.footerb img {
    height: 20px;
}
/*contenido de centrof*/
.contenedor .centrof {
    color: aqua;
    font-size: 1.05em; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F8F8FF ;
} 
/*contenido de autorf*/
.contenedor .autorf {
    color: rgb(12, 12, 12);
    font-size: 1.05em; 
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
 } 

}
@media screen and (min-with:673px) and (max-with:900px) {
    .contenedor{
        width: 70%;
    }
    .contenedor .headerb{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);/*1fr*/
        grid-template-rows: repeat(1,auto);
        grid-template-areas: 
            "logo menu menu "
        ;
    
    }
    .contenedor .menu{
        width: 70%;
    }
    .headerb img{
        height: 50%; 
        float: left; 
        padding: 10px;
    }
    .contenedor .menu li{
        display: inline;
        font-size: 10px;
        font-weight: 100;
        margin: 2%;
    }
    .contenedor .main-somos{
   
        display: grid;
        grid-template-columns: 40% 60%;    
    }
  
    .contenedor .texto-1{
        grid-area: texto-1; 
        padding: 2%;   
        font-size:small;
        text-align:justify;
        
    }
}
/***********************
        contenedor
************************
 definimos la grilla css
 por areas */
.contenedor{
    width: 100%;
    margin: 0px auto;/*centrar el div*/
    display: grid;
    grid-template-columns: repeat(3,1fr);/*cant. de columnas*/
    grid-template-rows: repeat(4,auto);/*cantidad de filas)*/
   
    grid-template-areas: 
        "headerb headerb headerb"
        "slideshow-container slideshow-container slideshow-container"
        "main-somos main-somos main-somos"
        "footerb footerb footerb";
}
/**********************
        header
***********************
*/
.contenedor .headerb{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);/*1fr*/
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
        "logo menu menu "
    ;

}

.contenedor .headerb{
    display: inline-block;
    grid-area: headerb;
    background: #850c03;
    width: 100%;
    margin: 0px auto;
}
 .contenedor .logo{
    grid-area: logo;
}

.contenedor .menu{
    grid-area: menu;
}

  .headerb img{
    height: 80%; 
    float: left; 
    padding: 15px;
}
/***********************
        menu
************************
*/
 .contenedor .menu {
   background-color: #850c03;
   height: auto;
}
.contenedor .menu li{
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 2%;
  padding: 40px;
  text-transform: uppercase;
    
}

.contenedor .menu a{
    color: white;
    text-decoration: none;
}
.contenedor .menu a:hover {
  color: black;
  background: #bd033b;
}
  
/*************************
     CARROUSEL   
**************************
    */

.slideshow-container{

 max-width: 1000px;
 margin: 0px auto; /*centrar bloque */   
   

 width: 100%;
 position:relative;
 margin:auto;
 height: auto;
 padding: 0px;    

   
}
.contenedor .slideshow-container
{
   grid-area:slideshow-container;
   
}
.mySlides {
 display:none;
}

.mySlides img{
    width: 100%;
    height: 500px;
   
}

/**********************
     quienes somos HOME
***********************/

.contenedor .main-somos{
   
    display: grid;
    grid-template-columns: 40% 60%;    
}

.contenedor .main-somos{
    grid-area: main-somos;
    background: #e6968c; 
    max-width: 1000px;
    margin: 2% auto 2% auto;
    height: auto; 
    padding: 2%;
}

/*para definir un area se hace por separado*/
.contenedor .texto-1{
    grid-area: texto-1; 
    padding: 2%;   
    font-size:large;
    text-align:justify;
    
}

.main-somos article{
    font-size: 1.05em; 
    color: #F8F8FF ;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 

.main-somos grid-item{
    width:"40%" ;
    height:"30%";
} 


.main-somos .texto-1 h2{
    color: #F8F8FF;
    text-align: right;
    font-size: bold;
}

/*****************************
SERVICIOS
*****************************/
.servicios-container{
    grid-area: main-somos;
    max-width: 1000px;
  /*  margin: 0px auto; centrar bloque */   
    background: #e6968c; 
    width: 100%;
    position:relative;
    margin:auto;
    height: auto;
 /*   padding: 0px;   */ 
    margin: 2% auto 2% auto;
    padding: 2%;
    align-items: center;
    justify-content: center;
      
   }
.servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    gap:20px;
    justify-items: center;
}

.servicio-item {
    text-align: center;
    width: 100%;
}

.servicio-item img {
    width: 100%;
    max-width: 100%; /* Establecer el ancho máximo al 100% */
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

/************************
        corte
*************************/
.producto-container{
    grid-area: main-somos;
    display: grid;
    max-width: 1000px;
    background: #e6968c; 
    width: 100%;
    position:relative;
    margin:auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50%  50%  ;
    grid-gap: 20px;

    
   
   
}
.producto-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.producto-item img {
    width: 60%;
    max-width: 60%; /* Establecer el ancho máximo al 100% */
    height: auto;
    
}


/************************
        footerb
*************************
abarca toda la pantalla
en forma horizontal*/
    
.contenedor .footerb{
       
    display: grid;
    grid-gap: 10px;/*20px;*/
    grid-template-columns: repeat(3,30%);/*cant. de columnas*/
    grid-template-rows: repeat(2,auto);/*cantidad de filas)*/
    grid-template-areas: 
        "logof centrof redesf"
        "autorf autorf autorf";
        
}

.contenedor .footerb{
    grid-area: footerb;  
    background:  #850c03;
    width:100%;
    /*max-width:1000px;*/
    margin: 0px auto;
    min-height: 100px;
}

/*definimos las areas de footerb
  por separado*/
.contenedor .logof{
    grid-area: logof;    
}
.contenedor .centrof{
    grid-area: centrof;
}
.contenedor .redesf{
    grid-area: redesf;
}
.contenedor .autorf{
    grid-area: autorf;
}

.contenedor .logof,
.contenedor .centrof,
.contenedor .redesf{
    background:  #850c03;
    color: white;
    height: auto;
 /*   display: flex;
    justify-content: center;/*centramos en el centro del box*/
 /*    grid-column-gap: 20%;*/
     padding: 10% ;
     display: grid;
     grid-template-columns: repeat(3, 15%);   
    
}

/*   imagen logof*/

.footerb img {
    height: 20px;
}
/*contenido de centrof*/
.contenedor .centrof {
    color: aqua;
    font-size: 1.05em; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F8F8FF ;
} 
/*contenido de autorf*/
.contenedor .autorf {
    color: rgb(12, 12, 12);
    font-size: 1.05em; 
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
 } 
.grupo{
  /*  color: rgb(241, 239, 236);*/
  color: black;
    animation-name: cambiarColor;
   animation-duration: 4s;
   animation-timing-function: linear;
   animation-iteration-count:normal ;
}
@keyframes cambiarColor {
   0% {color:rgb(110, 108, 107); width: 60%;}
   /* Primer fotograma */
   50% {color: rgb(141, 138, 138); width: 80%;}
   /* Segundo fotograma */
 /*  100% {color: rgb(83, 81, 81); width: 100%;}
    Último fotograma */
    100% {color: rgb(10, 10, 10); width: 100%;}
  }














